<% if (theme.enable_hitokoto) { %>
  <div class="sentence" id="hitokoto-box">
    <div class="sentence-loading">
      <i class="fas fa-spinner fa-spin"></i> 加载中...
    </div>
    <div class="sentence-content" style="display:none;">
      <div class="sentence-text" id="hitokoto-text"></div>
      <div class="sentence-from" id="hitokoto-from"></div>
    </div>
  </div>
<% } else { %>
  <% var sentences = theme.sentences || []; %>
  <% if (sentences.length > 0) { %>
    <div class="sentence">
      <%- sentences[Math.floor(Math.random() * sentences.length)] %>
    </div>
  <% } %>
<% } %>