<div class="data-item"><span>文章总数</span><span><%= site.posts.length %> 篇</span></div>
<div class="data-item"><span>标签数量</span><span><%= site.tags.length %> 个</span></div>
<div class="data-item"><span>分类数量</span><span><%= site.categories.length %> 个</span></div>
<div class="data-item"><span>访客总数</span><span id="busuanzi_container_site_uv"><span id="busuanzi_value_site_uv">-</span> 人</span></div>
<div class="data-item"><span>浏览总量</span><span id="busuanzi_container_site_pv"><span id="busuanzi_value_site_pv">-</span> 次</span></div>
